@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color1: #FAFAFA;
  --color-hover: #FFA62B;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  width: 187px;
  height: 48px;
  background: #FFA62B;
  border-radius: 37px;
}

.btn:hover {
  background: #16697A;
}

.btn--blue {
  color: #00A0C1;
  width: 154px;
  height: 48px;
  border: 1px solid #00A0C1;
  background-color: transparent;
}

.btn--blue:hover {
  background: #E2E2E2;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
}

.conteiner {
  max-width: 1076px;
  min-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  background-color: #F7F7F7;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.header__menu {
  padding-top: 85px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 1;
}
.header__menu-link {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 30px;
}
.header__menu-link:hover {
  color: var(--color-hover);
}
.header__btn-wrap {
  display: flex;
  align-items: center;
}
.header__btn-wrap button {
  margin-left: 30px;
}

.empower {
  background: #E9E9E9;
  padding-top: 80px;
  padding-bottom: 205px;
}
.empower__top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto 80px auto;
}
.empower__top-block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 40px;
}
.empower__top-block-text {
  width: 88%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 40px;
}
.empower__btn-one {
  margin-bottom: 25px;
}
.empower__bottom-block-wrap {
  padding-bottom: 30px;
}
.empower__bottom-block-card {
  height: 100%;
  padding: 35px 40px;
  background: #FFFFFF;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.empower__bottom-block-card svg {
  margin-bottom: 14px;
}
.empower__bottom-block-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 10px;
}
.empower__bottom-block-card-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.empower__bottom-block-card:hover {
  background: #00A0C1;
  box-shadow: none;
}
.empower__bottom-block-card:hover path {
  fill: white;
}
.empower__bottom-block-card:hover .empower__bottom-block-card-title {
  color: white;
}
.empower__bottom-block-card:hover .empower__bottom-block-card-text {
  color: white;
}

.choose {
  padding-top: 98px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F3F3F3;
}
.choose__title {
  width: 78%;
  font-weight: 700;
  font-size: 36px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #252B42;
  margin-bottom: 10px;
}
.choose__text {
  width: 68%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 75px;
}
.choose__grid {
  align-self: stretch;
}
.choose__grid-item {
  padding-bottom: 30px;
}
.choose__grid-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 34px 30px 34px;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center 32px;
}
.choose__grid-card-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 20px;
}
.choose__grid-card-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  text-align: center;
  color: #737373;
}
.choose__grid-card--01 {
  background-image: url(../img/choose-card-img-01.svg);
}
.choose__grid-card--02 {
  background-image: url(../img/choose-card-img-02.svg);
}
.choose__grid-card--03 {
  background-image: url(../img/choose-card-img-03.svg);
}
.choose__grid-card--04 {
  background-image: url(../img/choose-card-img-04.svg);
}

.advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 106px;
  background: #F3F3F3;
}
.advice__title {
  width: 80%;
  font-weight: 700;
  font-size: 36px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.advice__text {
  width: 70%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 75px;
}
.advice__grid-item {
  padding-bottom: 30px;
}
.advice__card {
  height: 100%;
  background: #FFFFFF;
  padding-top: 30px;
}
.advice__card-title {
  width: 55%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  padding: 0 30px;
  margin-bottom: 15px;
}
.advice__card-text {
  width: 68%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0 30px;
  margin-bottom: 30px;
}
.advice__card-img {
  display: block;
  width: 100%;
  height: 138px;
  object-fit: cover;
}

.expert {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expert__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.expert__title-desktop {
  display: none;
}
.expert__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 100px;
}
.expert__video {
  position: relative;
  margin-bottom: 72px;
}
.expert__video-img {
  height: 442px;
  width: 100%;
  object-fit: cover;
}
.expert__video-btn {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 97.6px;
  height: 98.4px;
  background: #00A0C1;
  border-radius: 73.6px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
.expert__video-btn:hover {
  background-color: #E2E2E2;
}
.expert__main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.expert__main-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.expert__main-card {
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: top left;
}
.expert__main-card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 5px;
}
.expert__main-card-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 30px;
}
.expert__main-card--01 {
  background-image: url(../img/expert-card-bg-img-01.svg);
}
.expert__main-card--02 {
  background-image: url(../img/expert-card-bg-img-02.svg);
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 25px;
  background: #FAFAFA;
}
.logos__img {
  display: block;
  margin-bottom: 60px;
}

.subscribe-wrap {
  background: #16697A;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #16697A;
}
.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.subscribe__form {
  display: flex;
  width: 100%;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.subscribe__form-input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  border: none;
  padding: 15px 0 15px 20px;
  outline: none;
}
.subscribe__form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.subscribe__form-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #FFA62B;
  padding: 15px 22.5px;
  border-radius: 0px 5px 5px 0px;
}
.subscribe__form-btn:hover {
  color: white;
  background: #16697A;
}

.touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 100px;
  background: #F3F3F3;
}
.touch__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.touch__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 60px;
}
.touch__grid-item {
  margin-bottom: 30px;
}
.touch__grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  padding: 137px 62px 50px 62px;
  background-repeat: no-repeat;
  background-position: center 50px;
}
.touch__grid-card--01 {
  background-image: url(../img/touch-card-img-01.svg);
}
.touch__grid-card--02 {
  background-image: url(../img/touch-card-img-02.svg);
}
.touch__grid-card--03 {
  background-image: url(../img/touch-card-img-03.svg);
}
.touch__grid-card-img {
  margin-bottom: 15px;
}
.touch__grid-card-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}
.touch__grid-card-link:hover {
  color: var(--color-hover);
}
.touch__grid-card-link--dark-blue {
  color: white;
}
.touch__grid-card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 15px 0;
}
.touch__grid-card-title--dark-blue {
  color: white;
}
.touch__grid-card-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFA62B;
  border: 1px solid #FFA62B;
  border-radius: 5px;
  padding: 10px 20px;
}
.touch__grid-card-btn:hover {
  color: white;
  background: #FFA62B;
}
.touch__grid-card-btn--dark-blue {
  color: white;
  border-color: white;
}
.touch__grid-card-btn--dark-blue:hover {
  color: #252B42;
  background: #FFFFFF;
}
.touch__grid-card--dark-blue {
  padding: 167px 62px 80px 62px;
  background-color: #252B42;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-us__left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us__title {
  width: 75%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 10px;
}
.contact-us__text {
  width: 60%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.contact-us__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #FFA62B;
  border-radius: 5px;
  padding: 15px 38px;
}
.contact-us__btn:hover {
  background: #16697A;
}

.footer__top-block {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__top-block-wrap {
  background: #16697A;
}
.footer__top-block-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.footer__top-block-card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__top-block-card-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.footer__top-block-card-link--01 {
  display: flex;
}
.footer__top-block-card-link--01::before {
  content: url(../img/footer-img-01.svg);
  margin-right: 10px;
}
.footer__top-block-card-link--02 {
  display: flex;
}
.footer__top-block-card-link--02::before {
  content: url(../img/footer-img-02.svg);
  margin-right: 10px;
}
.footer__top-block-card-link--03 {
  display: flex;
}
.footer__top-block-card-link--03::before {
  content: url(../img/footer-img-03.svg);
  margin-right: 10px;
}
.footer__top-block-card-link:hover {
  color: var(--color-hover);
}
.footer__bottom-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 55px;
}
.footer__bottom-block-text {
  width: 70%;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.footer__bottom-block-social a {
  margin: 0 10px;
}

@media screen and (min-width: 490px) and (max-width: 767px) {
  .advice__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advice__card-title {
    width: 100%;
    text-align: center;
  }
  .advice__card-text {
    width: 100%;
    text-align: center;
  }
  .advice__card-img {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-wrap {
    background: #FAFAFA;
    background-image: url(../img/bg-img-lg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
  }
  .header {
    padding-bottom: 36px;
    background-color: transparent;
  }
  .header__menu {
    display: flex;
    order: 0;
    flex-direction: row;
    width: auto;
    padding: 0;
  }
  .header__menu-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0 10.5px;
  }
  .header__search {
    display: none;
  }
  .header__cart {
    display: none;
  }
  .header__burger path {
    fill: #252B42;
  }
  .empower {
    background-color: transparent;
    padding-bottom: 80px;
  }
  .empower__top-block {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 0 80px 0;
  }
  .empower__top-block-title {
    text-align: start;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 35px;
  }
  .empower__top-block-text {
    width: 100%;
    text-align: start;
    margin-bottom: 35px;
  }
  .empower__btn-one {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .empower__bottom-block {
    display: flex;
    margin: 0 -15px;
  }
  .empower__bottom-block-wrap {
    padding: 0 15px;
    width: 33.333%;
  }
  .choose-wrap {
    background: linear-gradient(180deg, #FAFAFA 0%, #E2E2E2 100%);
  }
  .choose {
    background-color: transparent;
  }
  .choose__title {
    font-size: 40px;
    line-height: 57px;
  }
  .choose__text {
    margin-bottom: 50px;
  }
  .choose__grid {
    display: flex;
    margin: 0 -15px;
  }
  .choose__grid-item {
    width: 25%;
    padding: 0 15px;
  }
  .advice-wrap {
    background: #FAFAFA;
  }
  .advice {
    padding-top: 125px;
    padding-bottom: 80px;
    background-color: transparent;
  }
  .advice__title {
    font-size: 40px;
  }
  .advice__text {
    width: 50%;
    margin-bottom: 45px;
  }
  .advice__grid {
    display: flex;
    margin: 0 -15px;
  }
  .advice__grid-item {
    width: 25%;
    padding: 0 15px;
  }
  .advice__card-title {
    width: 80%;
  }
  .advice__card-text {
    width: 100%;
  }
  .advice__card-text span {
    display: none;
  }
  .advice__card-img {
    width: 100%;
    height: 138px;
    object-fit: cover;
  }
  .expert-wrap {
    background-image: url(../img/expert-gb.jpg);
    background-repeat: no-repeat;
    background-position: center top;
  }
  .expert__title {
    display: none;
  }
  .expert__title-desktop {
    width: 60%;
    display: block;
    font-size: 40px;
  }
  .expert__text {
    width: 50%;
  }
  .expert__main-wrap {
    display: flex;
    align-self: stretch;
  }
  .expert__video {
    margin-right: 35px;
    margin-bottom: 0;
  }
  .expert__main {
    width: 40%;
    padding-top: 20px;
  }
  .logos-wrap {
    background: #FAFAFA;
  }
  .logos {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .logos__img {
    width: 10%;
    margin-bottom: 0;
  }
  .subscribe-wrap {
    padding: 20px 0;
    background: linear-gradient(#FAFAFA 50%, #252B42 50%);
  }
  .subscribe {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .subscribe__title {
    width: 40%;
    text-align: start;
    margin-bottom: 0;
  }
  .subscribe__form {
    width: 50%;
  }
  .touch-wrap {
    background: #F3F3F3;
  }
  .touch {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .touch__title {
    font-size: 40px;
  }
  .touch__text {
    width: 50%;
    margin-bottom: 80px;
  }
  .touch__grid {
    align-self: stretch;
    align-items: center;
    display: flex;
  }
  .touch__grid-item {
    width: 33.333%;
  }
  .contact-us {
    flex-direction: row;
  }
  .contact-us__left-block {
    align-items: flex-start;
  }
  .contact-us__title {
    width: 100%;
  }
  .contact-us__text {
    width: 100%;
    text-align: start;
    margin-bottom: 0;
  }
  .contact-us__btn {
    margin-left: auto;
  }
  .footer__top-block {
    display: flex;
    justify-content: space-between;
  }
  .footer__bottom-block {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
  }
  .footer__bottom-block-text {
    text-align: start;
    margin-bottom: 0;
  }
}